button {
     width: 100%; 
     height: 100%; 
     font-size: 5em !important;
     }

.kai {
     margin-left: -25px;
     width: 200px;
     margin-top: -15px;
     height: 203px;
}

.lloyd {
     margin-left: -25px;
     width: 200px;
     margin-top: -15px;
     height: 203px;
}